.admin-container {
   display: flex;

}

.admin-content {
   //border: 1px solid #000000;
   padding-top: 25px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 46px;
   flex-grow: 1;
}

.admin-list-container {
   margin-top: 45px;
   margin-bottom: 45px;
}

.btn-edit {
   color: #9E9E9E;
   text-transform: uppercase;
   font-weight: 700;
}

.btn-delete {
   text-transform: uppercase;
   font-weight: 700;
}