.auth-card-container {
   border-radius: 20px;
   padding: 95px 50px 50px 50px;
   width: 550px;
   height: 780px;
}

.auth-card-title {
   font-weight: 400;
   text-transform: uppercase;
   line-height: 65px;
   text-align: center;
   letter-spacing: -0.015em;
   color: #263238;
}